{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div class="object-tools" style="margin-bottom: 10px;">
            <ul>
                <li>
                    <a href="{% url 'admin:exportar_todo' %}" class="button" style="background-color: #444; color: white;
                    padding: 5px 10px; border-radius: 50px; margin-bottom: 5px; text-decoration: none;">
                        Exportar Todo
                    </a>
                </li>
            </ul>
    </div>
    {{ block.super }}
{% endblock %}
